cache:
  directories:
  - .gradle
  - .autoconf
  - $HOME/.m2
  - $HOME/.gradle

env:
  global:
    - NDK_VERSION=r10e

sudo: false

language:
  - android
jdk:
  - oraclejdk8

android:
  components:
    - build-tools-23.0.1
    - android-23
    - extra-android-m2repository

before_install:
  - wget http://dl.google.com/android/ndk/android-ndk-$NDK_VERSION-linux-x86_64.bin
  - chmod +x android-ndk-$NDK_VERSION-linux-x86_64.bin
  - ./android-ndk-$NDK_VERSION-linux-x86_64.bin | egrep -v ^Extracting
  - export ANDROID_NDK_HOME=`pwd`/android-ndk-$NDK_VERSION
  - export PATH=${PATH}:${ANDROID_NDK_HOME}

script:
  - ./gradlew build --info
